.cont {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 70%;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.arrows {
  display: flex;
}

h1,p,h2 {
  max-width: 80%;
  word-wrap: break-word;
}
